<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<link rel="stylesheet" href="index.css">
		<title>Document</title>
		<style>
			.hide{
				display: none;
			}
		</style>
	</head>
	<body>
		<h1>DeviseHR</h1>

			<p id='greeting'>Dear
				{{firstName}}
				{{lastName}}, please follow Click bellow to register your account with
				the following email:
				{{email}}</p>

			<div class="no-pass">
				<p id='x'>{{id}}</p>
				<p id='y'>{{verificationCode}}</p>
				<form>
					<input id='password' type='password' placeholder='password' />
					<input
						id='confirm-password'
						type='password'
						placeholder='confirm password'
					/>

					<button>Submit</button>
				</form>
			</div>
			<div class="pass hide">
				<p id='x'>Your accout has been verified</p>
			</div>
	

		<script>
            const password = document.querySelector('#password');
			const confirmPassword = document.querySelector('#confirm-password');
			const form = document.querySelector('form');
			const passwordUpdated = false
			const pass = document.querySelector('.pass');
			const noPass = document.querySelector('.no-pass');

			form.addEventListener('submit', e => {
				e.preventDefault()
				if (password.value === '' || confirmPassword.value === '') {
					alert('please enter a password.')
					throw new Error('please enter a password.');
				}
				if (password.value !== confirmPassword.value){
					alert("Please make sure the passwords you've typed in match")
					throw new Error("Please make sure the passwords you've typed in match");
				}

				const queryParams = new URLSearchParams(window.location.search);

				fetch(`http://localhost:5000/registration/registeration-confirmed`, {
					method: 'PATCH',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						operatorId: queryParams.get('operatorId'),
						verificationCode: queryParams.get('code'),
						password: password.value
					})
				}).then(responce => {
					pass.classList.remove('hide');
					noPass.classList.add('hide');
					return responce.json();
				}).catch(err => {
					alert('Failed to update password.');
				});

			});
        </script>
	</body>
</html>